extends layout

block content
    form(actions=`/edit/${item.id}` method= "post")
        label(for="description") Desciption
        input(type="text" id="description" name ="description" value=`${item.description}`)
        button(type="submit") Update Item